<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Tạo tài khoản nhân viên</h1>
        </div>
        <!-- Navbar -->
        <ul>
            <%if(role=="admin"){%>
                <li>
                    <a href="/management.ejs">
                        <i class="fas fa-users"></i>
                    </a>
                </li>
                <%}%>
                    <li>
                        <a href="/index.ejs">
                            <i class="fas fa-warehouse"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout.ejs">
                            <i class="fa fa-sign-out-alt fa-2x"></i>
                        </a>
                    </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>Tạo tài khoản nhân viên</h2>
        <div class="card2">
            <div class="card-body">
                <form action="/createstaff.ejs" method="post" enctype="multipart/form-data">
                    <%=mess%>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Tên nhân viên</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="tenNv" required>
                                    </td>
                                </tr><br>
                                <tr>
                                    <td>Giới tính</td>
                                    <td>:</td>
                                    <td>
                                        <select name="gioiTinh" id="cars">
                                            <option value="Nam">Nam</option>
                                            <option value="Nu">Nữ</option>
                                        </select>
                                    </td>
                                </tr><br>

                                <tr>
                                    <td>Địa chỉ</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="diaChi" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="sdt" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngày sinh</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="ngayS" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngày gia nhập</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="ngayGn" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lương</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="luong" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên tài khoản</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="tenTk" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mật khẩu</td>
                                    <td>:</td>
                                    <td>
                                        <input type="password" name="matKhau" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hình đại diện</td>
                                    <td>:</td>
                                    <td>
                                        <input type="file" name="img" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div> <input type="submit"
                                style="float:right; margin-right: 100px; height: 50px; width: 100px; position:static; margin-left: 500px; margin-top: 30px;">
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->
</body>

</html>