<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Delete this user?</title>
</head>

<body>
    <div id="cfdelete">
        <form method="post" action="/delete/user/<%=tenTk%>/<%=role%>">
            <h1>Are you sure you want to delete:</h1>
            <h2>
                <%= tenTk %>
            </h2>
            <input type=" text" value="ten" hidden>
            <div id="yes">
                <input type="submit" value="Yes">
            </div>
        </form>
        <div id="no">
            <button onclick="location.href = '/manager.ejs';" id="myButton" class="float-left submit-button">No, Go
                home</button>
        </div>
    </div>
</body>

</html>