<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Welcome</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!-- <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div> -->
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.ejs"><img src="images/logo1.png" style="border-radius: 10%;"
                                            alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="menu-bar">
                                <div class="collapse_navbar-collapse" id="navbarsExample04">
                                    <ul class="navbar-nav mr-auto">
                                        <%if(role=="admin"){%>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/manager.ejs">Manager</a>
                                            </li>
                                            <%}%>
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="/index.ejs"> Home </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/about.ejs">About</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/furnitures.ejs">Products</a>
                                                    <div class="sub-nav">
                                                        <ul>
                                                            <li><a class="nav-link" href="/vproducts.ejs/1">Vehicle
                                                                    products</a>
                                                            </li>
                                                            <li><a class="nav-link" href="/repair.ejs">Repair
                                                                    Service</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/contact.ejs">Contact Us</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/chat.ejs">Chat here</a>
                                                </li>
                                                <%if(token !=null ){%>
                                                    <li class="nav-item d_none">
                                                        <a class="nav-link" href="/yourprofile.ejs"><i
                                                                class="fa fa-user-circle padd_right"
                                                                aria-hidden="true"></i>
                                                            Hello, <%=name%> (<%=role%>)</a>
                                                        <a class="nav-link" href="/logout.ejs">Logout</a>
                                                    </li>
                                                    <%}else{%>
                                                        <li class="nav-item d_none">
                                                            <a class="nav-link" href="/signin.ejs"><i
                                                                    class="fa fa-user-circle padd_right"
                                                                    aria-hidden="true"></i>Login</a>
                                                            <a class="nav-link" href="/signin.ejs">To join us</a>
                                                        </li>
                                                        <%}%>
                                                            <li class="nav-item d_none">
                                                                <a class="nav-link" href="#"><i class="fa fa-search"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <h1>Welcome</h1>
                                        <span>Vehicle Repair Service</span>
                                        <p>We are here to save your car !!!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/banner1.jpg" alt="#" />
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <h1>Accessory</h1>
                                        <span>We got you!</span>
                                        <p>Are you looking for something that could make your
                                            car better?
                                        </p>
                                        <a href="/furnitures.ejs">Go to shop </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/banner1.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <h1>Location</h1>
                                        <span>To see our workshop </span>
                                        <p>Click button below to see map
                                        </p>
                                        <a href="/about.ejs">Our location </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/banner1.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- end banner -->
    <!-- three_box -->

    <!-- three_box -->
    <!-- testimonial -->
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Something you must know...</h2>
                        <p>Its our pleasured to served </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <i><img src="images/qd.png" alt="#" height="100px"
                                                            width="100px" /></i>
                                                    <h4>Le Quang Duong</h4>
                                                    <span>20110454</span>
                                                    <p>Nguoi thieu nang </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <i><img src="images/batman.png" alt="#" height="50px"
                                                            width="100px" /></i>
                                                    <h4>Nguyen The Doan</h4>
                                                    <span>17110124</span>
                                                    <p>@@ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <i><img src="images/batman.png" alt="#" height="100px"
                                                            width="100px" /></i>
                                                    <h4>Tran Nguyen Duy Lan</h4>
                                                    <span>20110515</span>
                                                    <p>Cuu tui voi </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <i><img src="images/batman.png" alt="#" height="100px"
                                                            width="100px" /></i>
                                                    <h4>Nguyen Huu Duc</h4>
                                                    <span>20110460</span>
                                                    <p>@@ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end testimonial -->
    </div>
    <!--  footer -->
    <footer id="contact">
        <div class="footer">
            <div class="container">
                <div class="col-md-6">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4853986111225!2d106.76933817580802!3d10.850637657818902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752763f23816ab%3A0x282f711441b6916f!2sHCMC%20University%20of%20Technology%20and%20Education!5e0!3m2!1sen!2s!4v1682879654397!5m2!1sen!2s"
                            width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="copyright">
                        <p>Copyright 2023 All Right Reserved By VeReMa</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>