<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/src/controller/homeController.js"></script>
</head>

<body>
    <div class="signup-box">
        <a class="fa fa-home" href="/index.ejs"></a>
        <h1>Registration</h1>
        <div class="error">
            <% if(err !=null) {%>
                <%= err %>
                    <%}%>
        </div>
        <form action="/signup.ejs" method="post">
            <div>
                <h4><strong>Enter your username</strong></h4>
            </div>
            <div class="input-box">
                <input type="text" name="userName" required>
            </div><br>
            <div>
                <h4><strong>Set your password</strong></h4>
            </div>
            <div class="input-box">
                <input type="password" name="passWord" required>
            </div><br>
            <div>
                <h4><strong>Confirm your password</strong></h4>
            </div>
            <div class="input-box">
                <input type="password" name="repassWord" required>
            </div><br><br>
            <div class="input-box button">
                <input type="submit" value="Next">
            </div><br>
            <div class="text">
                <h3>Already have an account?</h3>
                <strong><a href="/signin.ejs">Login now</a></strong>
            </div>
        </form>
    </div>
</body>

</html>