<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/src/controller/homeController.js"></script>
</head>

<body>
    <form class="login" action="/signin.ejs" method="post">
        <input type="text" placeholder="Username" name="userName">
        <input type="password" placeholder="Password" name="passWord">
        <button>Login</button>
    </form>
</body>

</html>