<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update item</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Update item</h1>
        </div>
        <!-- Navbar -->
        <ul>
            <li>
                <a href="/vproducts.ejs">
                    <i class="fas fa-reply-all"></i>
                </a>
            </li>
            <li>
                <a href="/index.ejs">
                    <i class="fas fa-warehouse"></i>
                </a>
            </li>
            <li>
                <a href="/logout.ejs">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->
    <div class="main">
        <h2>CẬP NHẬT PHỤ TÙNG</h2>
        <div class="card1">
            <div class="card-body">
                <strong><a id="mess">
                        <%= mess %>
                    </a></strong>
                <form action="/updateprod.ejs" method="post" enctype="multipart/form-data">
                    <table>
                        <tbody>
                            <tr>
                                <td>Nhập tên phụ tùng cần cập nhật</td>
                                <td>:</td>
                                <td>
                                    <input type="text" name="tenPt" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Đơn giá</td>
                                <td>:</td>
                                <td>
                                    <input type="text" name="donGia" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Số lượng</td>
                                <td>:</td>
                                <td>
                                    <input type="text" name="soLuong" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Hình ảnh</td>
                                <td>:</td>
                                <td>
                                    <input type="file" name="img" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Miêu tả</td>
                                <td>:</td>
                                <td>
                                    <input type="text" name="mieuTa" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
    <!-- End -->
</body>

</html>