.admin-home header {
    background-color: rgb(68, 92, 224);
    margin: -8px 0 0 -8px;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

header a {
    float: right;
    padding-top: 5px;
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(16, 223, 43);
}

header ul li {
    display: inline;
    float: right;
    padding-top: 5px;
    padding-right: 35px;
    text-decoration: none;
}

.left-nav {
    float: left;
    background-color: rgb(99, 90, 75);
    height: 100%;
    width: 300px;
    margin: 0px 0 0 -10px;
    padding: 10px 0 0 0px;
    text-align: center;
}

.left-nav a {
    border-bottom: 1px solid black;
    font-family: fantasy;
}

.left-nav img {
    height: 80px;
    width: 80px;
    margin: 10px 0 0 0px;
    border-radius: 20%;
}

.left-nav button {
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.left-nav button:hover {
    background-color: black;
    color: white;
}

.main-page {
    background-color: white;
    height: 100%;
    width: 100%;
}