/* Header */
.admin-home header {
    background-color: rgb(36, 119, 197);
    margin: -8px 0 0 -8px;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

header a {
    float: right;
    padding-top: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header a:hover {
    color: rgb(16, 223, 43);
}

header ul li {
    display: inline;
    float: right;
    padding-top: 5px;
    padding-right: 35px;
    text-decoration: none;
}

/*Left navigation bar*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn i {
    font-size: 40;
    color: rgb(0, 0, 0);
}

#admin {
    left: -30;
    top: 80;
    height: 40px;
    width: 100px;
    position: fixed;
    display: block;
    transform: rotate(90deg);
}

#admin:hover {
    background-color: black;
    color: white;
}

#admin-close {
    left: 0;
    top: 50;
    height: 40px;
    width: 298px;
    position: fixed;
    font-size: small;
    display: block;
}

.left-nav {
    float: left;
    background-color: rgb(90, 90, 90);
    height: 70%;
    width: 300px;
    margin: 0px 0 0 -10px;
    padding: 10px 0 0 0px;
    text-align: center;
    position: fixed;
    top: 50;
    display: none;
}

.left-nav a {
    border-bottom: 1px solid black;
    font-family: fantasy;
}

.left-nav img {
    height: 80px;
    width: 80px;
    margin: 20px 0 0 0px;
    border-radius: 20%;
}

.left-nav button {
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.left-nav button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

/* Main center page */
.main-page {
    background-color: white;
    height: 100%;
    width: 100%;
}

/* order */
.form-new-order {
    text-align: center;
    border: 5px groove black;
    border-radius: 2%;
    background-color: #a7a7a7;
    margin: auto;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: -250px;
    margin-top: -200px;
    overflow-y: scroll;
}


.form-new-order input {
    background-color: #ddd;
    outline: none;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

.form-new-order button {
    width: 80px;
    height: 40px;
}

.form-new-order2 {
    text-align: center;
    border: 5px groove black;
    border-radius: 2%;
    background-color: #a7a7a7;
    margin: auto;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: -250px;
    margin-top: -200px;
    overflow-y: scroll;
}


.form-new-order2 input {
    background-color: #ddd;
    outline: none;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

.form-new-order2 button {
    width: 80px;
    height: 40px;
}

.form-new-order-2 {
    text-align: center;
    border: 5px groove black;
    border-radius: 2%;
    background-color: #a7a7a7;
    margin: auto;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: -250px;
    margin-top: -200px;
    overflow-y: scroll;
}


.form-new-order-2 input {
    background-color: #ddd;
    outline: none;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

.form-new-order-2 button {
    width: 80px;
    height: 40px;
}


.left-form {
    float: left;
    margin-left: 20px;
    width: 240px;
}

.right-form {
    float: right;
    margin-right: 20px;
    width: 240px;
}

.menu-form {
    position: absolute;
    margin-left: 500px;
    height: 30px;
}

.menu-form a {
    float: right;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 5px;
    color: red;
    background-color: black;
    border-radius: 90%;
}

/* All account */
.welcome-admin {
    width: 70%;
    height: 50%;
    margin: 0 0 50 350px;
    background-image: url('/images/banner1.jpg');
    display: block
}

.all-user h1 {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

.all-user a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-user #add-prod-btn {
    float: right;
    margin-top: -50px;
    margin-right: 100px;
    color: rgb(8, 161, 8);
}

.all-user {
    width: 70%;
    height: 50%;
    margin: 0 0 50 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

#remove {
    float: inline-start;
    margin-right: 20px;
    margin-top: 3px;
    font-size: 15;
    text-decoration: none;
    color: black;
}

#remove:hover {
    background-color: rgb(100, 255, 178);
}

.all-user img {
    height: 40px;
    width: 40px;
}

.all-user table {
    border: 1px solid black;
}

.all-user table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-user table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-user tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-user tr:hover {
    background-color: #ddd;
}

.all-user table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-product h1 {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    border: 2px solid black;
}

.all-product a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-product #add-prod-btn {
    float: right;
    margin-top: -50px;
    margin-right: 100px;
    color: rgb(8, 161, 8);
}

.all-product {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-product img {
    height: 40px;
    width: 40px;
}

.all-product table {
    border: 1px solid black;
}

.all-product table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-product table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-product tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-product tr:hover {
    background-color: #ddd;
}

.all-product table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-contact h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
}

.all-contact a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-contact {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-contact img {
    height: 40px;
    width: 40px;
}

.all-contact table {
    border: 1px solid black;
}

.all-contact table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-contact table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-contact tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-contact tr:hover {
    background-color: #ddd;
}

.all-contact table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-customers h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
}

.all-customers a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-customers #new-order {
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
    font-size: smaller;
    text-decoration: none;
    color: rgb(41, 5, 170);
}

.all-customers {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-customers img {
    height: 40px;
    width: 40px;
}

.all-customers table {
    border: 1px solid black;
}

.all-customers table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-customers table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-customers tr:hover {
    background-color: #ddd;
}

.all-customers table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-staffs h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
}

.all-staffs a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-staffs {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-staffs img {
    height: 40px;
    width: 40px;
}

.all-staffs table {
    border: 1px solid black;
}

.all-staffs table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-staffs table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-staffs tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-staffs tr:hover {
    background-color: #ddd;
}

.all-staffs table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-orders h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
}

.all-orders a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-orders {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-orders img {
    height: 40px;
    width: 40px;
}

.all-orders table {
    border: 1px solid black;
}

.all-orders table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-orders table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-orders tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-orders tr:hover {
    background-color: #ddd;
}

.all-orders table td:hover {
    background-color: rgb(255, 189, 189);
}

.all-vehicles h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
}

.all-vehicles a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-size: 40;
    color: rgb(226, 6, 6);
}

.all-vehicles {
    width: 70%;
    height: 50%;
    margin: 0 0 50px 350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    display: none;
}

.all-vehicles img {
    height: 40px;
    width: 40px;
}

.all-vehicles table {
    border: 1px solid black;
}

.all-vehicles table td {
    color: #030303;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
    text-align: center;
}

.all-vehicles table th {
    color: #030303;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    width: 600px;
    height: 30px;
}

.all-vehicles tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-vehicles tr:hover {
    background-color: #ddd;
}

.all-vehicles table td:hover {
    background-color: rgb(255, 189, 189);
}

/*BOXES*/
.boxes {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 480px;
    height: 95%;
    width: 50%;
}

.boxes-service {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 480px;
    height: 55%;
    width: 50%;
    display: none;
}

.boxes-label {
    margin: 40px 0 0 450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first-box {
    margin: 50px 0 0 60px;
    height: 27%;
    width: 40%;
    background-color: rgb(235, 249, 255);
    border-radius: 10%;
}

.first-box:hover {
    background-color: rgb(186, 194, 186);
    color: rgb(0, 0, 0);
}

.first-box i {
    font-size: 60;
}

.first-box a {
    font-size: 20;
}

.second-box {
    float: right;
    height: 27%;
    width: 40%;
    margin: 50px 60px 0 0;
    background-color: rgb(235, 249, 255);
    border-radius: 10%;
}

.second-box:hover {
    background-color: rgb(186, 194, 186);
    color: rgb(0, 0, 0);
}

.second-box i {
    font-size: 60;
}

.second-box a {
    font-size: 20;
}

.third-box {
    margin: 30px 0 0 60px;
    height: 27%;
    width: 40%;
    background-color: rgb(235, 249, 255);
    border-radius: 10%;
}

.third-box:hover {
    background-color: rgb(186, 194, 186);
    color: rgb(0, 0, 0);
}

.third-box i {
    font-size: 60;
}

.third-box a {
    font-size: 20;
}

.fourth-box {
    float: right;
    height: 27%;
    width: 40%;
    margin: 30px 60px 0 0;
    background-color: rgb(235, 249, 255);
    border-radius: 10%;
}

.fourth-box:hover {
    background-color: rgb(186, 194, 186);
    color: rgb(0, 0, 0);
}

.fourth-box i {
    font-size: 60;
}

.fourth-box a {
    font-size: 20;
}

.fith-box {
    margin: 30px 0 50px 60px;
    height: 27%;
    width: 40%;
    background-color: rgb(235, 249, 255);
    border-radius: 10%;
}

.fith-box:hover {
    background-color: rgb(186, 194, 186);
    color: rgb(0, 0, 0);
}

.fith-box i {
    font-size: 60;
}

.fith-box a {
    font-size: 20;
}